<footer class="footer">
    <ul>
        <li>
            <div class="labeled-content">
                <span class="labeled-content__label">
                    Elaborado por
                </span>
                <span class="labeled-content__content">
                    Edgar Trejo Avila &copy; 2024
                </span>
            </div>
        </li>
        <li>
            <div class="labeled-content">
                <span class="labeled-content__label">
                    Para la clase de 
                </span>
                <span class="labeled-content__content">
                    Aplicaciones Web
                </span>
            </div>
        </li>
        <li>
            <div class="labeled-content">
                <span class="labeled-content__label">
                    Del profesor
                </span>
                <span class="labeled-content__content">
                    René Santos Osorio
                </span>
            </div>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://www.facebook.com/edgar.trejo.526875/" class="social-media-info" target="_blank">
                <i class="social-media-info__icon fa-brands fa-facebook"></i>
                <p class="social-media-info__username">Edgar Trejo</p>
            </a>
        </li>
        <li>
            <a href="https://x.com/EdgarTr02242221" class="social-media-info" target="_blank">
                <i class="social-media-info__icon fa-brands fa-square-x-twitter"></i>
                <p class="social-media-info__username">Edgar Trejo</p>
            </a>
        </li>
        <li>
            <a href="https://github.com/edgar-ta" class="social-media-info" target="_blank">
                <i class="social-media-info__icon fa-brands fa-github"></i>
                <p class="social-media-info__username">edgar-ta</p>
            </a>
        </li>
    </ul>
    <img src="/assets/happy-face.png" alt="">
</footer>
</body>
</html>

